.flex{
    display: flex;
}

.flex-center  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
    flex-wrap: wrap;
}

.space-evenly{
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.space-around{
    justify-content: space-around;
    flex-wrap: wrap;
}


.ma-10{
    margin-right: 10px;
    margin-left: 10px;
}


ul {
    list-style: none;
}


a{
    text-decoration: none;
    color: #f1f1f1;
}

.dock {
    overflow: hidden;
    background-color:rgba(227, 225, 225, 0.27);
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    height: 10%;

}

.dock-elt{
    opacity: 1;
}

.topBar{
    background-color:rgba(227, 225, 225, 0.27);
    opacity: 0.8;
}

div {
    display: inline;
}

body {
    height: 100vh;
    user-select: none;
    background-image: url("macos-big-sur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    font-family: 'Lexend', sans-serif;
}


/* style.css */

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(227, 225, 225, 0.27);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #121e9b}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  